<div class='row' id='how-it-works'>
  <div>
    <h1>What is ApprenticeHour?</h1>
  </div>

  <div class='span12' id='top-blurb'>
    <p>ApprenticeHour helps connect aspiring apprentices and mentors.</p>
    <p>Everybody can be a mentor, apprentice, or both.</p>
  </div>
      
  <div class="span4 steps">
    <h2>Post or Accept</h2>
    <%= image_tag "post.png" %>
    <p class="step-description">Apprectice posts a request. Mentor accepts it.</p>
  </div>
     
  <div class="span4 steps">
    <h2>Coordinate</h2>
    <%= image_tag "letter.png" %>
    <p class="step-description">Coordinate meeting time and place via email.</p>
  </div>

  <div class="span4 steps">
    <h2>Meet!</h2>
    <%= image_tag "coffee.png" %>
    <p class="step-description">Meet, learn and share knowledge!</p>
  </div>

  <div class="span12" id="visitor-buttons">
    <button onclick="window.location.href='<%= howitworks_path %>';" class="btn btn-large learn-more">Learn More</button>
    <button onclick="window.location.href='<%= root_url + "auth/github" %>';" class="btn btn-large signup">Sign up via Github</button>
  </div>

  <div class="span12">
    <h1>Check out what others are doing</h1>
  </div>

</div>