<div class="message hidden">
  <%= form_tag(meeting_path(meeting), :remote => true, :method => "Put") do %>
    <%= text_area_tag("message", nil, :class => 'message') %>
    <span>
      <ul>
        <li>
          <%= hidden_field_tag(:status, "matched") %>
          <%= submit_tag("Send Email", :class => 'btn btn-primary') %>
        </li>
      </ul>
    </span>
  <% end %>
  <%= form_tag(meeting_path(meeting), :remote => true, :method => "Put", :class => 'nevermind') do %>
    <%= hidden_field_tag(:status, "available") %>
    <%= submit_tag("Nevermind", :class => 'btn btn-danger action') %>
  <% end %>
</div>