<div class="message hidden">
  <%= form_tag(meeting_path(meeting.id), :remote => "true", :method => "put") do %>
    <%= text_area_tag("message", nil, :class => 'message') %>
    <span>
      <ul>
        <li>
          <%= hidden_field_tag(:status, "matched") %>
          <%= submit_tag("Send Email", :class => 'btn btn-info') %>
        </li>
  <% end %>
        <li>
          <%= form_tag(meeting_path(meeting.id), :remote => true, :method => "Put") do %>
            <%= hidden_field_tag(:status, "available") %>
            <%= submit_tag("Nevermind", :class => 'btn btn-info action') %>
          <% end %>
        </li>
      </ul>
    </span>
</div>