<div class="row meeting <%= meeting.status %>", id="<%= dom_id(meeting) %>">
  <div class='span2 left status-actions'>
    <div class="status">
      <% if meeting.completable_for?(current_user) %>
        <%= form_tag(meeting_path(meeting), :remote => "true", :method => "Put") do %>
            <%= hidden_field_tag(:status, "completed") %>
            <%= submit_tag("We Met!", :class => 'btn btn-info') %>
        <% end %>
      <% else %>
        <p><% if meeting.status == "available" %>
              <%= image_tag 'apprentice_icon.png' %>
            <% elsif meeting.status == "matched" || meeting.status == "accepted" %>
              <%= image_tag 'matched_icon.png' %>
            <% elsif meeting.status == "cancelled" %>
              <%= image_tag 'cancelled_icon.png' %>
            <% else meeting.status == "completed" %>
              <%= image_tag 'completed_icon.png' %>
            <% end %>
        </p>
      <% end %>
    </div>
    <div class="action">
      <% if signed_in? %>
        <% if meeting.available_for?(current_user) %>
          <%= form_tag(meeting_path(meeting), :remote => true, :method => "Put") do %>
            <%= hidden_field_tag(:status, "accepted") %>
            <%= submit_tag("Accept", :class => 'btn action') %>
          <% end %>
        <% end %>
        <% if meeting.cancellable_for?(current_user)%>
         <%= form_tag(meeting_path(meeting), :remote => "true", :method => "Put") do %>
            <%= hidden_field_tag(:status, "cancelled") %>
            <%= submit_tag("Cancel", :class => 'btn') %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='span5'>
    <span class='topic_location'>
      <h3><%= meeting.topic.description %></h3>
      <p>@ <%= meeting.neighborhood %></p>
    </span>
    <div class='description'>
      <p><%= meeting.description %></p>
    </div>
  </div>
  <div class='span2 user'>
    <% if meeting.mentor %>
      <a href="<%= user_path(meeting.mentor) %>">
        <img class="user-mentor" src=<%=meeting.mentor.gravatar%> />
        <p><%= meeting.mentor.name %></p>
      </a>
    <% else %>
      <%= image_tag 'question_mark.png' %>
    <% end %>
  </div>
    <div class='span2 user'>
    <a href="<%= user_path(meeting.mentee) %>">
      <img class="user-apprentice" src=<%=meeting.mentee.gravatar%> />
      <p><%= meeting.mentee.name %></p>
    </a>
  </div>
  <%= render 'meetings/contact_form', :meeting => meeting %> 
</div>